.categoryDetails {

    margin-left: 1rem;
}

.categoryImage {

    width: 5rem;
    height: 5rem;
    border-radius: 10px;
}

.categoryItem {

    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
}